<?xml version="1.0"?>
<model>
  <name>quadrotor</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Philip Huang</name>
   <email>philipyizhou.huang@mail.utoronto.ca</email>
  </author>

  <description>
    Bitcraze Crazyflie 2.0 Nanoquadcopter model
    Provided by whoenig from Crazyflie ROS
  </description>
</model>
